<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap" rel="stylesheet">
    <title>MY WORLD</title>
</head>

<body id="world">
    <h1>Welcome
        <%= Name%> to my world of Node and SQL !
    </h1>
    </div>
</body>

</html>